* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

.card {
  display: flex;
  gap: 15px;
  margin: 10px 0px 0px 10px;
  /* background-color: aqua; */
  /* justify-content: center;
    align-items: center; */
}

.container {
  /* margin: auto; */
  height: 7rem;
  width: 70rem;
  background-color: #0f0f0f;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  height: 100px;
}

.card:hover {
  background-color: #222222;
  border-radius: 8px;
}

.img_section {
  position: relative;
}
img {
  border-radius: 4px;
}

.content_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 3px;
}

.content_section2 {
  color: #aaaaaa;
  font-size: 0.7rem;
  font-weight: 400;
}

.title {
  font-size: 0.9rem;
  font-weight: 530;
}

button {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0;
  padding: 6px;
  font-size: 11px;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 68px;
  right: 3px;
}
